
@import url('https://fonts.googleapis.com/css?family=Muli');
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli';
  text-decoration: none;
}
ul {
 list-style: none;
}
li{
   margin: 5px 0;
}
.container{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr 1.7fr 0.5fr 0.5fr;
  grid-gap: 10px;
  grid-template-areas: 
      "nav nav nav nav" 
      "about about about about"
      "tech tech tech tech"
      "projects projects projects projects"
      "experience experience experience experience"
      "education education education education"
}
.navbar{
  background-color:white;
  position: sticky;
   top: 0px;
  width: 100%;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  display: block;
  text-align: left;
  padding: 0.5em;
  height: 60px;
  grid-area: nav;
  }
  .navbar-logo {
  height: 80px;
  width: 100px;
  float: left;
}
.navbar-logo:hover {
  cursor: pointer;
}

.navbar .navbar-content {
  margin: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}
.navbar-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
  font-size: 10px;
  font-weight: bold;
}


.navbar-item:hover {
  color: black;
  cursor: pointer;
}
.navbar > .active {
  background-color: #DCDCDC;
}

/*CSS for logo icon*/
.navbar-brand{
  display: flex;
  align-items:center;
}
.navbar-brand >img{
  padding: 7px 14px;
}
.about{
  display: grid;
  grid-area: about;


}
.projects{
   grid-area: projects;
   text-align: center;
}
.technologies{
   grid-area: tech;
   padding: 20px;
}
.technologies .content .skills_one .skills_images{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.skills_image{
  width: 100px;
}
.education{
   grid-area: education;
}


.avatar{
    grid-column: 1 / 2;
    height: 250px;
    margin-left: 75px;
    border-radius: 50%/50%;
    margin-top: 40px;
}
.aboutText{
   width: 75%;
    margin: auto;
    padding-top: 1em;
    grid-column: 2/4;
}
.links{
  display: flex;
  justify-content: space-around;
}
.projects >h2,
.aboutText >h2, 
.experience >h2,
.education > h2{
   margin-bottom: 0;
   margin-top: 0;
   text-align: left;
}
.projects > span,
.experience > span,
.education > span{
  padding: 0;
  margin: 0;
  width: 70px;
  border-bottom: 4px solid;
  z-index: 1;
  margin-bottom: 1.2em;
  border-radius: 5px;
}
.projects {
  padding: 20px;
  margin-top: 30px;
}

.projects .project-section {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
}
.projects h2{
  display: block;
}
.projects .project-section .content {
  width: 400px;
  margin: 10px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

}
.projects .background {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
}

.projects .project-section .content .info {
  height: 200px;
  width: 100%;
  padding: 10px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}
.projects .project-section .content .first {
background: url('./Moodify.png')

}
.projects .project-section .content .second{
   background: url('./jumpiana.png')
} 
.projects .project-section .content .third{
 
} 
.projects .project-section .content .fourth{
} 
.experience{
  padding: 20px;
  text-align: left;
  grid-area: experience;
}
.experience .exp{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}

.experience .exp .role {
  font-weight: bold;
}
.experience .exp .date {
  font-style: italic;
}
.experience .exp .role .icon,
.experience .exp .company .icon,
.experience .exp .date .icon {
  margin-right: 5px;
  padding-right: 5px;
}
.education{
  padding: 20px;
  text-align: left;
  grid-area: education;
}
.education .edu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}

.education .edu .course {
  font-weight: bold;
}
.education .edu .date {
  font-style: italic;
}
.education .edu .course .icon,
.education .edu .school .icon,
.education .edu .date .icon
{
  margin-right: 5px;
  padding-right: 5px;
}









